In [1]:
from pydataset import data

In [2]:
data()

,dataset_id,title
0,AirPassengers,Monthly Airline Passenger Numbers 1949-1960
1,BJsales,Sales Data with Leading Indicator
2,BOD,Biochemical Oxygen Demand
3,Formaldehyde,Determination of Formaldehyde
4,HairEyeColor,Hair and Eye Color of Statistics Students
5,InsectSprays,Effectiveness of Insect Sprays
6,JohnsonJohnson,Quarterly Earnings per Johnson & Johnson Share
7,LakeHuron,Level of Lake Huron 1875-1972
8,LifeCycleSavings,Intercountry Life-Cycle Savings Data
9,Nile,Flow of the River Nile
10,OrchardSprays,Potency of Orchard Sprays
11,PlantGrowth,Results from an Experiment on Plant Growth
12,Puromycin,Reaction Velocity of an Enzymatic Reaction
13,Titanic,Survival of passengers on the Titanic
14,ToothGrowth,The Effect of Vitamin C on Tooth Growth in Guinea Pigs
15,UCBAdmissions,Student Admissions at UC Berkeley
16,UKDriverDeaths,Road Casualties in Great Britain 1969-84
17,UKgas,UK Quarterly Gas Consumption
18,USAccDeaths,Accidental Deaths in the US 1973-1978
19,USArrests,Violent Crime Rates by US State
20,USJudgeRatings,Lawyers' Ratings of State Judges in the US Superior Court
21,USPersonalExpenditure,Personal Expenditure Data
22,VADeaths,Death Rates in Virginia (1940)
23,WWWusage,Internet Usage per Minute
24,WorldPhones,The World's Telephones
25,airmiles,"Passenger Miles on Commercial US Airlines, 1937-1960"
26,airquality,New York Air Quality Measurements
27,anscombe,Anscombe's Quartet of 'Identical' Simple Linear Regressions
28,attenu,The Joyner-Boore Attenuation Data
29,attitude,The Chatterjee-Price Attitude Data
30,austres,Quarterly Time Series of the Number of Australian Residents
31,cars,Speed and Stopping Distances of Cars
32,chickwts,Chicken Weights by Feed Type
33,co2,Mauna Loa Atmospheric CO2 Concentration
34,crimtab,Student's 3000 Criminals Data
35,discoveries,Yearly Numbers of Important Discoveries
36,esoph,"Smoking, Alcohol and (O)esophageal Cancer"
37,euro,Conversion Rates of Euro Currencies
38,faithful,Old Faithful Geyser Data
39,freeny,Freeny's Revenue Data
40,infert,Infertility after Spontaneous and Induced Abortion
41,iris,Edgar Anderson's Iris Data
42,islands,Areas of the World's Major Landmasses
43,lh,Luteinizing Hormone in Blood Samples
44,longley,Longley's Economic Regression Data
45,lynx,Annual Canadian Lynx trappings 1821-1934
46,morley,Michelson Speed of Light Data
47,mtcars,Motor Trend Car Road Tests
48,nhtemp,Average Yearly Temperatures in New Haven
49,nottem,"Average Monthly Temperatures at Nottingham, 1920-1939"
50,npk,"Classical N, P, K Factorial Experiment"
51,occupationalStatus,Occupational Status of Fathers and their Sons
52,precip,Annual Precipitation in US Cities
53,presidents,Quarterly Approval Ratings of US Presidents
54,pressure,Vapor Pressure of Mercury as a Function of Temperature
55,quakes,Locations of Earthquakes off Fiji
56,randu,Random Numbers from Congruential Generator RANDU
57,rivers,Lengths of Major North American Rivers
58,rock,Measurements on Petroleum Rock Samples
59,sleep,Student's Sleep Data
60,stackloss,Brownlee's Stack Loss Plant Data
61,sunspot.month,"Monthly Sunspot Data, from 1749 to ""Present"""
62,sunspot.year,"Yearly Sunspot Data, 1700-1988"
63,sunspots,"Monthly Sunspot Numbers, 1749-1983"
64,swiss,Swiss Fertility and Socioeconomic Indicators (1888) Data
65,treering,"Yearly Treering Data, -6000-1979"
66,trees,"Girth, Height and Volume for Black Cherry Trees"
67,uspop,Populations Recorded by the US Census
68,volcano,Topographic Information on Auckland's Maunga Whau Volcano
69,warpbreaks,The Number of Breaks in Yarn during Weaving
70,women,Average Heights and Weights for American Women
71,acme,Monthly Excess Returns
72,aids,Delay in AIDS Reporting in England and Wales
73,aircondit,Failures of Air-conditioning Equipment
74,aircondit7,Failures of Air-conditioning Equipment
75,amis,Car Speeding and Warning Signs
76,aml,Remission Times for Acute Myelogenous Leukaemia
77,bigcity,Population of U.S. Cities
78,brambles,Spatial Location of Bramble Canes
79,breslow,Smoking Deaths Among Doctors
80,calcium,Calcium Uptake Data
81,cane,Sugar-cane Disease Data
82,capability,Simulated Manufacturing Process Data
83,catsM,Weight Data for Domestic Cats
84,cav,Position of Muscle Caveolae
...,...,...
672,students,Student Risk Taking
673,suicides,Crowd Baiting Behaviour and Suicides
674,toothpaste,Toothpaste Data
675,voting,House of Representatives Voting Data
676,water,Mortality and Water Hardness
677,watervoles,Water Voles Data
678,waves,Electricity from Wave Power at Sea
679,weightgain,Gain in Weight of Rats
680,womensrole,Womens Role in Society
681,Bechtoldt,Seven data sets showing a bifactor solution.
682,Bechtoldt.1,Seven data sets showing a bifactor solution.
683,Bechtoldt.2,Seven data sets showing a bifactor solution.
684,Dwyer,8 cognitive variables used by Dwyer for an example.
685,Gleser,"Example data from Gleser, Cronbach and Rajaratnam (1965) to show basic principles of g..."
686,Gorsuch,Example data set from Gorsuch (1997) for an example factor extension.
687,Harman.5,5 socio-economic variables from Harman (1967)
688,Harman.8,"Correlations of eight physical variables (from Harman, 1966)"
689,Harman.political,Eight political variables used by Harman (1967) as example 8.17
690,Holzinger,Seven data sets showing a bifactor solution.
691,Holzinger.9,Seven data sets showing a bifactor solution.
692,Reise,Seven data sets showing a bifactor solution.
693,Schmid,12 variables created by Schmid and Leiman to show the Schmid-Leiman Transformation
694,Thurstone,Seven data sets showing a bifactor solution.
695,Thurstone.33,Seven data sets showing a bifactor solution.
696,Tucker,9 Cognitive variables discussed by Tucker and Lewis (1973)
697,ability,16 ability items scored as correct or incorrect.
698,affect,Two data sets of affect and arousal scores as a function of personality and movie cond...
699,bfi,25 Personality items representing 5 factors
700,bfi.dictionary,25 Personality items representing 5 factors
701,blot,Bond's Logical Operations Test - BLOT
702,burt,11 emotional variables from Burt (1915)
703,cities,Distances between 11 US cities
704,cubits,Galton's example of the relationship between height and 'cubit' or forearm length
705,cushny,A data set from Cushny and Peebles (1905) on the effect of three drugs on hours of sle...
706,epi,Eysenck Personality Inventory (EPI) data for 3570 participants
707,epi.bfi,13 personality scales from the Eysenck Personality Inventory and Big 5 inventory
708,epi.dictionary,Eysenck Personality Inventory (EPI) data for 3570 participants
709,galton,Galton's Mid parent child height data
710,heights,A data.frame of the Galton (1888) height and cubit data set.
711,income,US family income from US census 2008
712,iqitems,16 multiple choice IQ items
713,msq,75 mood items from the Motivational State Questionnaire for 3896 participants
714,neo,NEO correlation matrix from the NEO_PI_R manual
715,peas,Galton's Peas
716,sat.act,"3 Measures of ability: SATV, SATQ, ACT"
717,withinBetween,An example of the distinction between within group and between group correlations
718,Bosco,Boscovich Data
719,CobarOre,Cobar Ore data
720,Mammals,Garland(1983) Data on Running Speed of Mammals
721,barro,Barro Data
722,engel,Engel Data
723,uis,UIS Drug Treatment study data
724,dietox,Growth curves of pigs in a 3x3 factorial experiment
725,koch,Ordinal Data from Koch
726,ohio,Ohio Children Wheeze Status
727,respdis,Clustered Ordinal Respiratory Disorder
728,respiratory,Data from a clinical trial comparing two treatments for a respiratory illness
729,seizure,Epiliptic Seizures
730,sitka89,Growth of Sitka Spruce Trees
731,spruce,Log-size of 79 Sitka spruce trees
732,liver,Liver related laboratory data
733,portpirie,"Rain, wavesurge and portpirie datasets."
734,rain,"Rain, wavesurge and portpirie datasets."
735,summer,"Air pollution data, separately for summer and winter months"
736,wavesurge,"Rain, wavesurge and portpirie datasets."
737,winter,"Air pollution data, separately for summer and winter months"
738,arthritis,Rheumatoid Arthritis Clinical Trial
739,housing,Homeless Data
740,bmw,Daily Log Returns on BMW Share Price
741,danish,Danish Fire Insurance Claims
742,nidd.annual,The River Nidd Data
743,nidd.thresh,The River Nidd Data
744,siemens,Daily Log Returns on Siemens Share Price
745,sp.raw,SP Data to June 1993
746,spto87,SP Return Data to October 1987
747,Dyestuff,Yield of dyestuff by batch
748,Dyestuff2,Yield of dyestuff by batch
749,InstEval,University Lecture/Instructor Evaluations by Students at ETH
750,Pastes,Paste strength by batch and cask
751,Penicillin,Variation in penicillin testing
752,VerbAgg,Verbal Aggression item responses
753,cake,Breakage Angle of Chocolate Cakes
754,cbpp,Contagious bovine pleuropneumonia
755,grouseticks,Data on red grouse ticks from Elston et al. 2001
756,sleepstudy,Reaction times in a sleep deprivation study

In [3]:
iris=data('iris')

In [4]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
iris.shape()

TypeError: 'tuple' object is not callable

In [6]:
iris.shape

(150, 5)

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
lr = LogisticRegression()

In [9]:
lr

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [10]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [11]:
X=iris.loc[: ,'Sepal.Length':'Petal.Width']

In [12]:
y=iris.loc[: ,'Species']

In [13]:
y

1          setosa
2          setosa
3          setosa
4          setosa
5          setosa
6          setosa
7          setosa
8          setosa
9          setosa
10         setosa
11         setosa
12         setosa
13         setosa
14         setosa
15         setosa
16         setosa
17         setosa
18         setosa
19         setosa
20         setosa
21         setosa
22         setosa
23         setosa
24         setosa
25         setosa
26         setosa
27         setosa
28         setosa
29         setosa
30         setosa
31         setosa
32         setosa
33         setosa
34         setosa
35         setosa
36         setosa
37         setosa
38         setosa
39         setosa
40         setosa
41         setosa
42         setosa
43         setosa
44         setosa
45         setosa
46         setosa
47         setosa
48         setosa
49         setosa
50         setosa
51     versicolor
52     versicolor
53     versicolor
54     versicolor
55     versicolor
56     versicolor
57     versicolor
58     versicolor
59     versicolor
60     versicolor
61     versicolor
62     versicolor
63     versicolor
64     versicolor
65     versicolor
66     versicolor
67     versicolor
68     versicolor
69     versicolor
70     versicolor
71     versicolor
72     versicolor
73     versicolor
74     versicolor
75     versicolor
76     versicolor
77     versicolor
78     versicolor
79     versicolor
80     versicolor
81     versicolor
82     versicolor
83     versicolor
84     versicolor
85     versicolor
86     versicolor
87     versicolor
88     versicolor
89     versicolor
90     versicolor
91     versicolor
92     versicolor
93     versicolor
94     versicolor
95     versicolor
96     versicolor
97     versicolor
98     versicolor
99     versicolor
100    versicolor
101     virginica
102     virginica
103     virginica
104     virginica
105     virginica
106     virginica
107     virginica
108     virginica
109     virginica
110     virginica
111     virginica
112     virginica
113     virginica
114     virginica
115     virginica
116     virginica
117     virginica
118     virginica
119     virginica
120     virginica
121     virginica
122     virginica
123     virginica
124     virginica
125     virginica
126     virginica
127     virginica
128     virginica
129     virginica
130     virginica
131     virginica
132     virginica
133     virginica
134     virginica
135     virginica
136     virginica
137     virginica
138     virginica
139     virginica
140     virginica
141     virginica
142     virginica
143     virginica
144     virginica
145     virginica
146     virginica
147     virginica
148     virginica
149     virginica
150     virginica
Name: Species, dtype: object

In [14]:
X

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1             5.1          3.5           1.4          0.2
2             4.9          3.0           1.4          0.2
3             4.7          3.2           1.3          0.2
4             4.6          3.1           1.5          0.2
5             5.0          3.6           1.4          0.2
6             5.4          3.9           1.7          0.4
7             4.6          3.4           1.4          0.3
8             5.0          3.4           1.5          0.2
9             4.4          2.9           1.4          0.2
10            4.9          3.1           1.5          0.1
11            5.4          3.7           1.5          0.2
12            4.8          3.4           1.6          0.2
13            4.8          3.0           1.4          0.1
14            4.3          3.0           1.1          0.1
15            5.8          4.0           1.2          0.2
16            5.7          4.4           1.5          0.4
17            5.4          3.9           1.3          0.4
18            5.1          3.5           1.4          0.3
19            5.7          3.8           1.7          0.3
20            5.1          3.8           1.5          0.3
21            5.4          3.4           1.7          0.2
22            5.1          3.7           1.5          0.4
23            4.6          3.6           1.0          0.2
24            5.1          3.3           1.7          0.5
25            4.8          3.4           1.9          0.2
26            5.0          3.0           1.6          0.2
27            5.0          3.4           1.6          0.4
28            5.2          3.5           1.5          0.2
29            5.2          3.4           1.4          0.2
30            4.7          3.2           1.6          0.2
31            4.8          3.1           1.6          0.2
32            5.4          3.4           1.5          0.4
33            5.2          4.1           1.5          0.1
34            5.5          4.2           1.4          0.2
35            4.9          3.1           1.5          0.2
36            5.0          3.2           1.2          0.2
37            5.5          3.5           1.3          0.2
38            4.9          3.6           1.4          0.1
39            4.4          3.0           1.3          0.2
40            5.1          3.4           1.5          0.2
41            5.0          3.5           1.3          0.3
42            4.5          2.3           1.3          0.3
43            4.4          3.2           1.3          0.2
44            5.0          3.5           1.6          0.6
45            5.1          3.8           1.9          0.4
46            4.8          3.0           1.4          0.3
47            5.1          3.8           1.6          0.2
48            4.6          3.2           1.4          0.2
49            5.3          3.7           1.5          0.2
50            5.0          3.3           1.4          0.2
51            7.0          3.2           4.7          1.4
52            6.4          3.2           4.5          1.5
53            6.9          3.1           4.9          1.5
54            5.5          2.3           4.0          1.3
55            6.5          2.8           4.6          1.5
56            5.7          2.8           4.5          1.3
57            6.3          3.3           4.7          1.6
58            4.9          2.4           3.3          1.0
59            6.6          2.9           4.6          1.3
60            5.2          2.7           3.9          1.4
61            5.0          2.0           3.5          1.0
62            5.9          3.0           4.2          1.5
63            6.0          2.2           4.0          1.0
64            6.1          2.9           4.7          1.4
65            5.6          2.9           3.6          1.3
66            6.7          3.1           4.4          1.4
67            5.6          3.0           4.5          1.5
68            5.8          2.7           4.1          1.0
69            6.2          2.2           4.5          1.5
70            5.6          2.5           3.9          1.1
71            5.9          3.2           4.8          1.8
72            6.1          2.8           4.0          1.3
73            6.3          2.5           4.9          1.5
74            6.1          2.8           4.7          1.2
75            6.4          2.9           4.3          1.3
76            6.6          3.0           4.4          1.4
77            6.8          2.8           4.8          1.4
78            6.7          3.0           5.0          1.7
79            6.0          2.9           4.5          1.5
80            5.7          2.6           3.5          1.0
81            5.5          2.4           3.8          1.1
82            5.5          2.4           3.7          1.0
83            5.8          2.7           3.9          1.2
84            6.0          2.7           5.1          1.6
85            5.4          3.0           4.5          1.5
86            6.0          3.4           4.5          1.6
87            6.7          3.1           4.7          1.5
88            6.3          2.3           4.4          1.3
89            5.6          3.0           4.1          1.3
90            5.5          2.5           4.0          1.3
91            5.5          2.6           4.4          1.2
92            6.1          3.0           4.6          1.4
93            5.8          2.6           4.0          1.2
94            5.0          2.3           3.3          1.0
95            5.6          2.7           4.2          1.3
96            5.7          3.0           4.2          1.2
97            5.7          2.9           4.2          1.3
98            6.2          2.9           4.3          1.3
99            5.1          2.5           3.0          1.1
100           5.7          2.8           4.1          1.3
101           6.3          3.3           6.0          2.5
102           5.8          2.7           5.1          1.9
103           7.1          3.0           5.9          2.1
104           6.3          2.9           5.6          1.8
105           6.5          3.0           5.8          2.2
106           7.6          3.0           6.6          2.1
107           4.9          2.5           4.5          1.7
108           7.3          2.9           6.3          1.8
109           6.7          2.5           5.8          1.8
110           7.2          3.6           6.1          2.5
111           6.5          3.2           5.1          2.0
112           6.4          2.7           5.3          1.9
113           6.8          3.0           5.5          2.1
114           5.7          2.5           5.0          2.0
115           5.8          2.8           5.1          2.4
116           6.4          3.2           5.3          2.3
117           6.5          3.0           5.5          1.8
118           7.7          3.8           6.7          2.2
119           7.7          2.6           6.9          2.3
120           6.0          2.2           5.0          1.5
121           6.9          3.2           5.7          2.3
122           5.6          2.8           4.9          2.0
123           7.7          2.8           6.7          2.0
124           6.3          2.7           4.9          1.8
125           6.7          3.3           5.7          2.1
126           7.2          3.2           6.0          1.8
127           6.2          2.8           4.8          1.8
128           6.1          3.0           4.9          1.8
129           6.4          2.8           5.6          2.1
130           7.2          3.0           5.8          1.6
131           7.4          2.8           6.1          1.9
132           7.9          3.8           6.4          2.0
133           6.4          2.8           5.6          2.2
134           6.3          2.8           5.1          1.5
135           6.1          2.6           5.6          1.4
136           7.7          3.0           6.1          2.3
137           6.3          3.4           5.6          2.4
138           6.4          3.1           5.5          1.8
139           6.0          3.0           4.8          1.8
140           6.9          3.1           5.4          2.1
141           6.7          3.1           5.6          2.4
142           6.9          3.1           5.1          2.3
143           5.8          2.7           5.1          1.9
144           6.8          3.2           5.9          2.3
145           6.7          3.3           5.7          2.5
146           6.7          3.0           5.2          2.3
147           6.3          2.5           5.0          1.9
148           6.5          3.0           5.2          2.0
149           6.2          3.4           5.4          2.3
150           5.9          3.0           5.1          1.8

In [15]:
iris.drop('Species')

ValueError: labels ['Species'] not contained in axis

In [16]:
iris.drop('Species', axis=1)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1             5.1          3.5           1.4          0.2
2             4.9          3.0           1.4          0.2
3             4.7          3.2           1.3          0.2
4             4.6          3.1           1.5          0.2
5             5.0          3.6           1.4          0.2
6             5.4          3.9           1.7          0.4
7             4.6          3.4           1.4          0.3
8             5.0          3.4           1.5          0.2
9             4.4          2.9           1.4          0.2
10            4.9          3.1           1.5          0.1
11            5.4          3.7           1.5          0.2
12            4.8          3.4           1.6          0.2
13            4.8          3.0           1.4          0.1
14            4.3          3.0           1.1          0.1
15            5.8          4.0           1.2          0.2
16            5.7          4.4           1.5          0.4
17            5.4          3.9           1.3          0.4
18            5.1          3.5           1.4          0.3
19            5.7          3.8           1.7          0.3
20            5.1          3.8           1.5          0.3
21            5.4          3.4           1.7          0.2
22            5.1          3.7           1.5          0.4
23            4.6          3.6           1.0          0.2
24            5.1          3.3           1.7          0.5
25            4.8          3.4           1.9          0.2
26            5.0          3.0           1.6          0.2
27            5.0          3.4           1.6          0.4
28            5.2          3.5           1.5          0.2
29            5.2          3.4           1.4          0.2
30            4.7          3.2           1.6          0.2
31            4.8          3.1           1.6          0.2
32            5.4          3.4           1.5          0.4
33            5.2          4.1           1.5          0.1
34            5.5          4.2           1.4          0.2
35            4.9          3.1           1.5          0.2
36            5.0          3.2           1.2          0.2
37            5.5          3.5           1.3          0.2
38            4.9          3.6           1.4          0.1
39            4.4          3.0           1.3          0.2
40            5.1          3.4           1.5          0.2
41            5.0          3.5           1.3          0.3
42            4.5          2.3           1.3          0.3
43            4.4          3.2           1.3          0.2
44            5.0          3.5           1.6          0.6
45            5.1          3.8           1.9          0.4
46            4.8          3.0           1.4          0.3
47            5.1          3.8           1.6          0.2
48            4.6          3.2           1.4          0.2
49            5.3          3.7           1.5          0.2
50            5.0          3.3           1.4          0.2
51            7.0          3.2           4.7          1.4
52            6.4          3.2           4.5          1.5
53            6.9          3.1           4.9          1.5
54            5.5          2.3           4.0          1.3
55            6.5          2.8           4.6          1.5
56            5.7          2.8           4.5          1.3
57            6.3          3.3           4.7          1.6
58            4.9          2.4           3.3          1.0
59            6.6          2.9           4.6          1.3
60            5.2          2.7           3.9          1.4
61            5.0          2.0           3.5          1.0
62            5.9          3.0           4.2          1.5
63            6.0          2.2           4.0          1.0
64            6.1          2.9           4.7          1.4
65            5.6          2.9           3.6          1.3
66            6.7          3.1           4.4          1.4
67            5.6          3.0           4.5          1.5
68            5.8          2.7           4.1          1.0
69            6.2          2.2           4.5          1.5
70            5.6          2.5           3.9          1.1
71            5.9          3.2           4.8          1.8
72            6.1          2.8           4.0          1.3
73            6.3          2.5           4.9          1.5
74            6.1          2.8           4.7          1.2
75            6.4          2.9           4.3          1.3
76            6.6          3.0           4.4          1.4
77            6.8          2.8           4.8          1.4
78            6.7          3.0           5.0          1.7
79            6.0          2.9           4.5          1.5
80            5.7          2.6           3.5          1.0
81            5.5          2.4           3.8          1.1
82            5.5          2.4           3.7          1.0
83            5.8          2.7           3.9          1.2
84            6.0          2.7           5.1          1.6
85            5.4          3.0           4.5          1.5
86            6.0          3.4           4.5          1.6
87            6.7          3.1           4.7          1.5
88            6.3          2.3           4.4          1.3
89            5.6          3.0           4.1          1.3
90            5.5          2.5           4.0          1.3
91            5.5          2.6           4.4          1.2
92            6.1          3.0           4.6          1.4
93            5.8          2.6           4.0          1.2
94            5.0          2.3           3.3          1.0
95            5.6          2.7           4.2          1.3
96            5.7          3.0           4.2          1.2
97            5.7          2.9           4.2          1.3
98            6.2          2.9           4.3          1.3
99            5.1          2.5           3.0          1.1
100           5.7          2.8           4.1          1.3
101           6.3          3.3           6.0          2.5
102           5.8          2.7           5.1          1.9
103           7.1          3.0           5.9          2.1
104           6.3          2.9           5.6          1.8
105           6.5          3.0           5.8          2.2
106           7.6          3.0           6.6          2.1
107           4.9          2.5           4.5          1.7
108           7.3          2.9           6.3          1.8
109           6.7          2.5           5.8          1.8
110           7.2          3.6           6.1          2.5
111           6.5          3.2           5.1          2.0
112           6.4          2.7           5.3          1.9
113           6.8          3.0           5.5          2.1
114           5.7          2.5           5.0          2.0
115           5.8          2.8           5.1          2.4
116           6.4          3.2           5.3          2.3
117           6.5          3.0           5.5          1.8
118           7.7          3.8           6.7          2.2
119           7.7          2.6           6.9          2.3
120           6.0          2.2           5.0          1.5
121           6.9          3.2           5.7          2.3
122           5.6          2.8           4.9          2.0
123           7.7          2.8           6.7          2.0
124           6.3          2.7           4.9          1.8
125           6.7          3.3           5.7          2.1
126           7.2          3.2           6.0          1.8
127           6.2          2.8           4.8          1.8
128           6.1          3.0           4.9          1.8
129           6.4          2.8           5.6          2.1
130           7.2          3.0           5.8          1.6
131           7.4          2.8           6.1          1.9
132           7.9          3.8           6.4          2.0
133           6.4          2.8           5.6          2.2
134           6.3          2.8           5.1          1.5
135           6.1          2.6           5.6          1.4
136           7.7          3.0           6.1          2.3
137           6.3          3.4           5.6          2.4
138           6.4          3.1           5.5          1.8
139           6.0          3.0           4.8          1.8
140           6.9          3.1           5.4          2.1
141           6.7          3.1           5.6          2.4
142           6.9          3.1           5.1          2.3
143           5.8          2.7           5.1          1.9
144           6.8          3.2           5.9          2.3
145           6.7          3.3           5.7          2.5
146           6.7          3.0           5.2          2.3
147           6.3          2.5           5.0          1.9
148           6.5          3.0           5.2          2.0
149           6.2          3.4           5.4          2.3
150           5.9          3.0           5.1          1.8

In [17]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [20]:
X[:105]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
1             5.1          3.5           1.4          0.2
2             4.9          3.0           1.4          0.2
3             4.7          3.2           1.3          0.2
4             4.6          3.1           1.5          0.2
5             5.0          3.6           1.4          0.2
6             5.4          3.9           1.7          0.4
7             4.6          3.4           1.4          0.3
8             5.0          3.4           1.5          0.2
9             4.4          2.9           1.4          0.2
10            4.9          3.1           1.5          0.1
11            5.4          3.7           1.5          0.2
12            4.8          3.4           1.6          0.2
13            4.8          3.0           1.4          0.1
14            4.3          3.0           1.1          0.1
15            5.8          4.0           1.2          0.2
16            5.7          4.4           1.5          0.4
17            5.4          3.9           1.3          0.4
18            5.1          3.5           1.4          0.3
19            5.7          3.8           1.7          0.3
20            5.1          3.8           1.5          0.3
21            5.4          3.4           1.7          0.2
22            5.1          3.7           1.5          0.4
23            4.6          3.6           1.0          0.2
24            5.1          3.3           1.7          0.5
25            4.8          3.4           1.9          0.2
26            5.0          3.0           1.6          0.2
27            5.0          3.4           1.6          0.4
28            5.2          3.5           1.5          0.2
29            5.2          3.4           1.4          0.2
30            4.7          3.2           1.6          0.2
31            4.8          3.1           1.6          0.2
32            5.4          3.4           1.5          0.4
33            5.2          4.1           1.5          0.1
34            5.5          4.2           1.4          0.2
35            4.9          3.1           1.5          0.2
36            5.0          3.2           1.2          0.2
37            5.5          3.5           1.3          0.2
38            4.9          3.6           1.4          0.1
39            4.4          3.0           1.3          0.2
40            5.1          3.4           1.5          0.2
41            5.0          3.5           1.3          0.3
42            4.5          2.3           1.3          0.3
43            4.4          3.2           1.3          0.2
44            5.0          3.5           1.6          0.6
45            5.1          3.8           1.9          0.4
46            4.8          3.0           1.4          0.3
47            5.1          3.8           1.6          0.2
48            4.6          3.2           1.4          0.2
49            5.3          3.7           1.5          0.2
50            5.0          3.3           1.4          0.2
51            7.0          3.2           4.7          1.4
52            6.4          3.2           4.5          1.5
53            6.9          3.1           4.9          1.5
54            5.5          2.3           4.0          1.3
55            6.5          2.8           4.6          1.5
56            5.7          2.8           4.5          1.3
57            6.3          3.3           4.7          1.6
58            4.9          2.4           3.3          1.0
59            6.6          2.9           4.6          1.3
60            5.2          2.7           3.9          1.4
61            5.0          2.0           3.5          1.0
62            5.9          3.0           4.2          1.5
63            6.0          2.2           4.0          1.0
64            6.1          2.9           4.7          1.4
65            5.6          2.9           3.6          1.3
66            6.7          3.1           4.4          1.4
67            5.6          3.0           4.5          1.5
68            5.8          2.7           4.1          1.0
69            6.2          2.2           4.5          1.5
70            5.6          2.5           3.9          1.1
71            5.9          3.2           4.8          1.8
72            6.1          2.8           4.0          1.3
73            6.3          2.5           4.9          1.5
74            6.1          2.8           4.7          1.2
75            6.4          2.9           4.3          1.3
76            6.6          3.0           4.4          1.4
77            6.8          2.8           4.8          1.4
78            6.7          3.0           5.0          1.7
79            6.0          2.9           4.5          1.5
80            5.7          2.6           3.5          1.0
81            5.5          2.4           3.8          1.1
82            5.5          2.4           3.7          1.0
83            5.8          2.7           3.9          1.2
84            6.0          2.7           5.1          1.6
85            5.4          3.0           4.5          1.5
86            6.0          3.4           4.5          1.6
87            6.7          3.1           4.7          1.5
88            6.3          2.3           4.4          1.3
89            5.6          3.0           4.1          1.3
90            5.5          2.5           4.0          1.3
91            5.5          2.6           4.4          1.2
92            6.1          3.0           4.6          1.4
93            5.8          2.6           4.0          1.2
94            5.0          2.3           3.3          1.0
95            5.6          2.7           4.2          1.3
96            5.7          3.0           4.2          1.2
97            5.7          2.9           4.2          1.3
98            6.2          2.9           4.3          1.3
99            5.1          2.5           3.0          1.1
100           5.7          2.8           4.1          1.3
101           6.3          3.3           6.0          2.5
102           5.8          2.7           5.1          1.9
103           7.1          3.0           5.9          2.1
104           6.3          2.9           5.6          1.8
105           6.5          3.0           5.8          2.2

In [22]:
X[105:]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
106           7.6          3.0           6.6          2.1
107           4.9          2.5           4.5          1.7
108           7.3          2.9           6.3          1.8
109           6.7          2.5           5.8          1.8
110           7.2          3.6           6.1          2.5
111           6.5          3.2           5.1          2.0
112           6.4          2.7           5.3          1.9
113           6.8          3.0           5.5          2.1
114           5.7          2.5           5.0          2.0
115           5.8          2.8           5.1          2.4
116           6.4          3.2           5.3          2.3
117           6.5          3.0           5.5          1.8
118           7.7          3.8           6.7          2.2
119           7.7          2.6           6.9          2.3
120           6.0          2.2           5.0          1.5
121           6.9          3.2           5.7          2.3
122           5.6          2.8           4.9          2.0
123           7.7          2.8           6.7          2.0
124           6.3          2.7           4.9          1.8
125           6.7          3.3           5.7          2.1
126           7.2          3.2           6.0          1.8
127           6.2          2.8           4.8          1.8
128           6.1          3.0           4.9          1.8
129           6.4          2.8           5.6          2.1
130           7.2          3.0           5.8          1.6
131           7.4          2.8           6.1          1.9
132           7.9          3.8           6.4          2.0
133           6.4          2.8           5.6          2.2
134           6.3          2.8           5.1          1.5
135           6.1          2.6           5.6          1.4
136           7.7          3.0           6.1          2.3
137           6.3          3.4           5.6          2.4
138           6.4          3.1           5.5          1.8
139           6.0          3.0           4.8          1.8
140           6.9          3.1           5.4          2.1
141           6.7          3.1           5.6          2.4
142           6.9          3.1           5.1          2.3
143           5.8          2.7           5.1          1.9
144           6.8          3.2           5.9          2.3
145           6.7          3.3           5.7          2.5
146           6.7          3.0           5.2          2.3
147           6.3          2.5           5.0          1.9
148           6.5          3.0           5.2          2.0
149           6.2          3.4           5.4          2.3
150           5.9          3.0           5.1          1.8

In [23]:
model = lr.fit(X,y)

In [24]:
predictions=model.predict(X)

In [25]:
predictions

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'virginica', 'virginica'], dtype=object)

In [28]:
lr.predict_proba(X)

array([[  8.78030305e-01,   1.21958900e-01,   1.07949250e-05],
       [  7.97058292e-01,   2.02911413e-01,   3.02949242e-05],
       [  8.51997665e-01,   1.47976480e-01,   2.58550858e-05],
       [  8.23406019e-01,   1.76536159e-01,   5.78217704e-05],
       [  8.96034973e-01,   1.03953836e-01,   1.11907339e-05],
       [  9.26234254e-01,   7.37527845e-02,   1.29612594e-05],
       [  8.94096848e-01,   1.05863935e-01,   3.92166195e-05],
       [  8.60034410e-01,   1.39946715e-01,   1.88751124e-05],
       [  8.01028643e-01,   1.98886755e-01,   8.46025595e-05],
       [  7.92662392e-01,   2.07312003e-01,   2.56051563e-05],
       [  8.90486112e-01,   1.09507726e-01,   6.16178069e-06],
       [  8.61800668e-01,   1.38164963e-01,   3.43688884e-05],
       [  7.85364369e-01,   2.14608265e-01,   2.73660893e-05],
       [  8.33122325e-01,   1.66845600e-01,   3.20746459e-05],
       [  9.27105079e-01,   7.28939564e-02,   9.65025075e-07],
       [  9.64209783e-01,   3.57879589e-02,   2.25815135e-06],
       [  9.40244677e-01,   5.97504819e-02,   4.84124978e-06],
       [  8.90383643e-01,   1.09602199e-01,   1.41584311e-05],
       [  8.94996432e-01,   1.04996803e-01,   6.76561305e-06],
       [  9.22818333e-01,   7.71698511e-02,   1.18163279e-05],
       [  8.28168845e-01,   1.71815986e-01,   1.51697603e-05],
       [  9.21162903e-01,   7.88192700e-02,   1.78269001e-05],
       [  9.25830555e-01,   7.41609901e-02,   8.45537828e-06],
       [  8.66425048e-01,   1.33506832e-01,   6.81196349e-05],
       [  8.39579062e-01,   1.60348453e-01,   7.24851587e-05],
       [  7.74387849e-01,   2.25570742e-01,   4.14089912e-05],
       [  8.80142212e-01,   1.19816026e-01,   4.17624967e-05],
       [  8.68142117e-01,   1.31846325e-01,   1.15578057e-05],
       [  8.57981539e-01,   1.42008075e-01,   1.03858266e-05],
       [  8.30136546e-01,   1.69809392e-01,   5.40618507e-05],
       [  8.05488891e-01,   1.94459296e-01,   5.18131431e-05],
       [  8.70807410e-01,   1.29176481e-01,   1.61085791e-05],
       [  9.33140300e-01,   6.68559138e-02,   3.78606175e-06],
       [  9.45563050e-01,   5.44349664e-02,   1.98362125e-06],
       [  8.09104104e-01,   1.90862024e-01,   3.38721089e-05],
       [  8.45406669e-01,   1.54581407e-01,   1.19235303e-05],
       [  8.67845100e-01,   1.32150712e-01,   4.18747716e-06],
       [  8.87815808e-01,   1.12174014e-01,   1.01779750e-05],
       [  8.29173320e-01,   1.70768916e-01,   5.77645348e-05],
       [  8.55787332e-01,   1.44196849e-01,   1.58184132e-05],
       [  8.99021427e-01,   1.00965368e-01,   1.32051891e-05],
       [  6.87609664e-01,   3.12227285e-01,   1.63051259e-04],
       [  8.64687415e-01,   1.35268656e-01,   4.39289817e-05],
       [  9.15725060e-01,   8.42126724e-02,   6.22672835e-05],
       [  9.14838651e-01,   8.51196936e-02,   4.16549750e-05],
       [  8.18139824e-01,   1.81812290e-01,   4.78858984e-05],
       [  9.08802553e-01,   9.11858864e-02,   1.15610231e-05],
       [  8.49522363e-01,   1.50438207e-01,   3.94305065e-05],
       [  8.94050930e-01,   1.05941728e-01,   7.34243342e-06],
       [  8.49541191e-01,   1.50441863e-01,   1.69463468e-05],
       [  2.96005280e-02,   8.61269712e-01,   1.09129760e-01],
       [  3.73566204e-02,   7.05998640e-01,   2.56644739e-01],
       [  1.17188234e-02,   7.49180286e-01,   2.39100891e-01],
       [  1.32329304e-02,   6.52615267e-01,   3.34151803e-01],
       [  1.09261044e-02,   6.99751683e-01,   2.89322212e-01],
       [  1.07475746e-02,   5.83523451e-01,   4.05728975e-01],
       [  2.15536329e-02,   5.37367355e-01,   4.41079012e-01],
       [  1.07796125e-01,   7.69764033e-01,   1.22439842e-01],
       [  1.75648125e-02,   8.28471633e-01,   1.53963555e-01],
       [  3.31000964e-02,   5.28434824e-01,   4.38465079e-01],
       [  2.90940948e-02,   7.73621445e-01,   1.97284460e-01],
       [  4.09552911e-02,   6.19782220e-01,   3.39262489e-01],
       [  1.93064131e-02,   8.80411764e-01,   1.00281823e-01],
       [  8.71111808e-03,   5.97119816e-01,   3.94169066e-01],
       [  1.66935421e-01,   7.13419402e-01,   1.19645177e-01],
       [  4.71498045e-02,   8.44539593e-01,   1.08310603e-01],
       [  1.22914643e-02,   4.23221121e-01,   5.64487414e-01],
       [  3.81169424e-02,   8.51071811e-01,   1.10811246e-01],
       [  3.08282665e-03,   5.97230434e-01,   3.99686739e-01],
       [  3.56967896e-02,   8.09665888e-01,   1.54637322e-01],
       [  6.24630686e-03,   2.71625774e-01,   7.22127920e-01],
       [  5.76762120e-02,   8.20642529e-01,   1.21681259e-01],
       [  1.95123191e-03,   5.34646840e-01,   4.63401928e-01],
       [  8.72420378e-03,   7.05586974e-01,   2.85688822e-01],
       [  3.66059277e-02,   8.39899070e-01,   1.23495002e-01],
       [  3.58881987e-02,   8.29637761e-01,   1.34474040e-01],
       [  8.07402014e-03,   7.78160148e-01,   2.13765831e-01],
       [  4.63306706e-03,   5.23640589e-01,   4.71726344e-01],
       [  1.33399755e-02,   5.63479864e-01,   4.23180160e-01],
       [  1.27116911e-01,   8.32931303e-01,   3.99517868e-02],
       [  3.58104443e-02,   8.04137922e-01,   1.60051633e-01],
       [  5.00338269e-02,   8.47112731e-01,   1.02853442e-01],
       [  5.65602460e-02,   8.12180151e-01,   1.31259603e-01],
       [  1.22599564e-03,   3.99303559e-01,   5.99470445e-01],
       [  1.03590059e-02,   3.64040618e-01,   6.25600376e-01],
       [  4.19275526e-02,   4.76596179e-01,   4.81476269e-01],
       [  1.89485725e-02,   7.46442362e-01,   2.34609065e-01],
       [  6.99117780e-03,   7.57889791e-01,   2.35119031e-01],
       [  5.57046086e-02,   6.67601538e-01,   2.76693853e-01],
       [  2.10040955e-02,   6.63077802e-01,   3.15918102e-01],
       [  8.95358807e-03,   6.00417365e-01,   3.90629047e-01],
       [  1.51849311e-02,   6.32849506e-01,   3.51965563e-01],
       [  3.45147534e-02,   7.99531968e-01,   1.65953279e-01],
       [  9.08897829e-02,   7.96946159e-01,   1.12164059e-01],
       [  1.97905433e-02,   6.41453325e-01,   3.38756132e-01],
       [  4.79463041e-02,   7.31607407e-01,   2.20446289e-01],
       [  3.43786632e-02,   6.77926137e-01,   2.87695200e-01],
       [  3.36527705e-02,   7.97759624e-01,   1.68587605e-01],
       [  2.53176193e-01,   6.92330452e-01,   5.44933549e-02],
       [  3.62293481e-02,   7.04841253e-01,   2.58929399e-01],
       [  1.88584495e-04,   1.46372620e-01,   8.53438796e-01],
       [  8.14030927e-04,   2.93447140e-01,   7.05738829e-01],
       [  2.79000675e-04,   3.30239074e-01,   6.69481925e-01],
       [  4.58010577e-04,   3.38339912e-01,   6.61202077e-01],
       [  2.53414333e-04,   2.55714364e-01,   7.44032222e-01],
       [  6.04096412e-05,   3.82917567e-01,   6.17022023e-01],
       [  2.06351241e-03,   2.79806199e-01,   7.18130289e-01],
       [  1.23117341e-04,   4.24934867e-01,   5.74942016e-01],
       [  1.59900415e-04,   4.23615517e-01,   5.76224583e-01],
       [  3.59862147e-04,   1.50750096e-01,   8.48890041e-01],
       [  3.01206048e-03,   2.76860976e-01,   7.20126963e-01],
       [  6.46894500e-04,   3.55513745e-01,   6.43839361e-01],
       [  6.83917045e-04,   2.98193127e-01,   7.01122956e-01],
       [  6.32648495e-04,   2.95768393e-01,   7.03598958e-01],
       [  6.18169454e-04,   1.72425080e-01,   8.26956751e-01],
       [  1.10759845e-03,   1.71476162e-01,   8.27416239e-01],
       [  8.01410072e-04,   3.48670193e-01,   6.50528397e-01],
       [  1.94621163e-04,   2.37367517e-01,   7.62437862e-01],
       [  1.30336939e-05,   4.20322938e-01,   5.79664028e-01],
       [  6.79992906e-04,   4.70615141e-01,   5.28704866e-01],
       [  5.08108403e-04,   2.23925960e-01,   7.75565932e-01],
       [  1.35050479e-03,   2.28520314e-01,   7.70129181e-01],
       [  3.81823791e-05,   4.28497457e-01,   5.71464360e-01],
       [  2.05513546e-03,   4.00468848e-01,   5.97476017e-01],
       [  6.82426332e-04,   2.35908846e-01,   7.63408727e-01],
       [  4.56419242e-04,   3.97832643e-01,   6.01710938e-01],
       [  3.20523990e-03,   3.83614307e-01,   6.13180453e-01],
       [  3.43775514e-03,   3.26737167e-01,   6.69825078e-01],
       [  3.02387244e-04,   2.97387632e-01,   7.02309980e-01],
       [  6.75745429e-04,   5.11618205e-01,   4.87706049e-01],
       [  1.61467286e-04,   4.28548421e-01,   5.71290112e-01],
       [  6.45929280e-04,   3.44604031e-01,   6.54750040e-01],
       [  2.77285011e-04,   2.76854155e-01,   7.22868560e-01],
       [  2.07366663e-03,   4.91252488e-01,   5.06673845e-01],
       [  3.54387390e-04,   4.43072814e-01,   5.56572798e-01],
       [  1.82369410e-04,   3.41966166e-01,   6.57851465e-01],
       [  6.38376976e-04,   1.26565896e-01,   8.72795727e-01],
       [  9.25543173e-04,   3.20314461e-01,   6.78759996e-01],
       [  4.31282889e-03,   3.17469066e-01,   6.78218105e-01],
       [  1.17132006e-03,   3.00300498e-01,   6.98528182e-01],
       [  4.50214297e-04,   2.00800053e-01,   7.98749733e-01],
       [  2.16404408e-03,   2.47613735e-01,   7.50222221e-01],
       [  8.14030927e-04,   2.93447140e-01,   7.05738829e-01],
       [  2.93581038e-04,   2.23396734e-01,   7.76309685e-01],
       [  4.55252466e-04,   1.52049282e-01,   8.47495466e-01],
       [  1.16468551e-03,   2.32330147e-01,   7.66505167e-01],
       [  9.20404029e-04,   3.79262991e-01,   6.19816605e-01],
       [  1.46454826e-03,   2.97584288e-01,   7.00951164e-01],
       [  1.10985568e-03,   1.29831848e-01,   8.69058297e-01],
       [  1.69378510e-03,   2.79973392e-01,   7.18332822e-01]])

In [27]:
import numpy as np

In [31]:
true_predicted = np.column_stack((np.array(y), predictions))

In [32]:
true_predicted

array([['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['setosa', 'setosa'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'virginica'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'virginica'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'virginica'],
       ['versicolor', 'virginica'],
       ['versicolor', 'virginica'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['versicolor', 'versicolor'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'versicolor'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica'],
       ['virginica', 'virginica']], dtype=object)

In [33]:
true_predicted.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [34]:
map_label = {0:'iris', 1:'verti',2:'nesto'}

In [35]:
map_label

{0: 'iris', 1: 'verti', 2: 'nesto'}

In [36]:
lr.coef_

array([[ 0.41021713,  1.46416217, -2.26003266, -1.02103509],
       [ 0.4275087 , -1.61211605,  0.5758173 , -1.40617325],
       [-1.70751526, -1.53427768,  2.47096755,  2.55537041]])

In [37]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [38]:
accuracy_score(np.array(y),predictions)

0.95999999999999996

In [39]:
confusion_matrix(np.array(y),predictions)

array([[50,  0,  0],
       [ 0, 45,  5],
       [ 0,  1, 49]], dtype=int64)

In [40]:
import pandas as pd

In [41]:
pd.read_csv('E:\Titanic\train.csv')

FileNotFoundError: File b'E:\\Titanic\train.csv' does not exist

In [42]:
pd.read_csv("E:\Titanic\train.csv")

FileNotFoundError: File b'E:\\Titanic\train.csv' does not exist

In [43]:
pd.read_csv('E:/Titanic/train.csv')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.00,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.00,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.00,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.00,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.00,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.00,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.00,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.00,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.00,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.00,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.00,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.00,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.00,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.00,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.00,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.00,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.00,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.00,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.00,0,0,PC 17601,27.7208,NaN,C
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,34,0,2,"Wheadon, Mr. Edward H",male,66.00,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.00,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.00,1,0,113789,52.0000,NaN,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.00,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.00,2,0,345764,18.0000,NaN,S
39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.00,1,0,2651,11.2417,NaN,C
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.00,1,0,7546,9.4750,NaN,S
41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.00,1,0,11668,21.0000,NaN,S
42,43,0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.00,0,0,330958,7.8792,NaN,Q
45,46,0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,49,0,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.00,1,0,349237,17.8000,NaN,S
50,51,0,3,"Panula, Master. Juha Niilo",male,7.00,4,1,3101295,39.6875,NaN,S
51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.00,0,0,A/4. 39886,7.8000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.00,1,0,PC 17572,76.7292,D33,C
53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.00,1,0,2926,26.0000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.00,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
56,57,1,2,"Rugg, Miss. Emily",female,21.00,0,0,C.A. 31026,10.5000,NaN,S
57,58,0,3,"Novel, Mr. Mansouer",male,28.50,0,0,2697,7.2292,NaN,C
58,59,1,2,"West, Miss. Constance Mirium",female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,"Goodwin, Master. William Frederick",male,11.00,5,2,CA 2144,46.9000,NaN,S
60,61,0,3,"Sirayanian, Mr. Orsen",male,22.00,0,0,2669,7.2292,NaN,C
61,62,1,1,"Icard, Miss. Amelie",female,38.00,0,0,113572,80.0000,B28,NaN
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.00,1,0,36973,83.4750,C83,S
63,64,0,3,"Skoog, Master. Harald",male,4.00,3,2,347088,27.9000,NaN,S
64,65,0,1,"Stewart, Mr. Albert A",male,NaN,0,0,PC 17605,27.7208,NaN,C
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,NaN,C
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.00,0,0,C.A. 29395,10.5000,F33,S
67,68,0,3,"Crease, Mr. Ernest James",male,19.00,0,0,S.P. 3464,8.1583,NaN,S
68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.00,4,2,3101281,7.9250,NaN,S
69,70,0,3,"Kink, Mr. Vincenz",male,26.00,2,0,315151,8.6625,NaN,S
70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.00,0,0,C.A. 33111,10.5000,NaN,S
71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.00,5,2,CA 2144,46.9000,NaN,S
72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.00,0,0,S.O.C. 14879,73.5000,NaN,S
73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.00,1,0,2680,14.4542,NaN,C
74,75,1,3,"Bing, Mr. Lee",male,32.00,0,0,1601,56.4958,NaN,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.00,0,0,348123,7.6500,F G73,S
76,77,0,3,"Staneff, Mr. Ivan",male,NaN,0,0,349208,7.8958,NaN,S
77,78,0,3,"Moutal, Mr. Rahamin Haim",male,NaN,0,0,374746,8.0500,NaN,S
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.00,0,0,364516,12.4750,NaN,S
80,81,0,3,"Waelens, Mr. Achille",male,22.00,0,0,345767,9.0000,NaN,S
81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.00,0,0,345779,9.5000,NaN,S
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,NaN,Q
83,84,0,1,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S
84,85,1,2,"Ilett, Miss. Bertha",female,17.00,0,0,SO/C 14885,10.5000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S
807,808,0,3,"Pettersson, Miss. Ellen Natalia",female,18.00,0,0,347087,7.7750,NaN,S
808,809,0,2,"Meyer, Mr. August",male,39.00,0,0,248723,13.0000,NaN,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S
810,811,0,3,"Alexander, Mr. William",male,26.00,0,0,3474,7.8875,NaN,S
811,812,0,3,"Lester, Mr. James",male,39.00,0,0,A/4 48871,24.1500,NaN,S
812,813,0,2,"Slemen, Mr. Richard James",male,35.00,0,0,28206,10.5000,NaN,S
813,814,0,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.00,4,2,347082,31.2750,NaN,S
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.50,0,0,364499,8.0500,NaN,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
816,817,0,3,"Heininen, Miss. Wendla Maria",female,23.00,0,0,STON/O2. 3101290,7.9250,NaN,S
817,818,0,2,"Mallet, Mr. Albert",male,31.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
818,819,0,3,"Holm, Mr. John Fredrik Alexander",male,43.00,0,0,C 7075,6.4500,NaN,S
819,820,0,3,"Skoog, Master. Karl Thorsten",male,10.00,3,2,347088,27.9000,NaN,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gregg)",female,52.00,1,1,12749,93.5000,B69,S
821,822,1,3,"Lulic, Mr. Nikola",male,27.00,0,0,315098,8.6625,NaN,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.00,0,0,19972,0.0000,NaN,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.00,0,1,392096,12.4750,E121,S
824,825,0,3,"Panula, Master. Urho Abraham",male,2.00,4,1,3101295,39.6875,NaN,S
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q
826,827,0,3,"Lam, Mr. Len",male,NaN,0,0,1601,56.4958,NaN,S
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
828,829,1,3,"McCormack, Mr. Thomas Joseph",male,NaN,0,0,367228,7.7500,NaN,Q
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.00,0,0,113572,80.0000,B28,NaN
830,831,1,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.00,1,0,2659,14.4542,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
832,833,0,3,"Saad, Mr. Amin",male,NaN,0,0,2671,7.2292,NaN,C
833,834,0,3,"Augustsson, Mr. Albert",male,23.00,0,0,347468,7.8542,NaN,S
834,835,0,3,"Allum, Mr. Owen George",male,18.00,0,0,2223,8.3000,NaN,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C
836,837,0,3,"Pasic, Mr. Jakob",male,21.00,0,0,315097,8.6625,NaN,S
837,838,0,3,"Sirota, Mr. Maurice",male,NaN,0,0,392092,8.0500,NaN,S
838,839,1,3,"Chip, Mr. Chang",male,32.00,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.00,0,0,SOTON/O2 3101287,7.9250,NaN,S
841,842,0,2,"Mudd, Mr. Thomas Charles",male,16.00,0,0,S.O./P.P. 3,10.5000,NaN,S
842,843,1,1,"Serepeca, Miss. Augusta",female,30.00,0,0,113798,31.0000,NaN,C
843,844,0,3,"Lemberopolous, Mr. Peter L",male,34.50,0,0,2683,6.4375,NaN,C
844,845,0,3,"Culumovic, Mr. Jeso",male,17.00,0,0,315090,8.6625,NaN,S
845,846,0,3,"Abbing, Mr. Anthony",male,42.00,0,0,C.A. 5547,7.5500,NaN,S
846,847,0,3,"Sage, Mr. Douglas Bullen",male,NaN,8,2,CA. 2343,69.5500,NaN,S
847,848,0,3,"Markoff, Mr. Marin",male,35.00,0,0,349213,7.8958,NaN,C
848,849,0,2,"Harper, Rev. John",male,28.00,0,1,248727,33.0000,NaN,S
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
851,852,0,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,7.7750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.00,0,1,PC 17592,39.4000,D28,S
854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.00,1,0,244252,26.0000,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.00,0,1,392091,9.3500,NaN,S
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.00,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.00,0,3,2666,19.2583,NaN,C
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.00,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.00,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",female,48.00,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.00,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.00,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.00,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.00,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.00,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.00,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.00,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.00,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.00,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.00,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.00,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.00,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.00,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.00,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.00,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.00,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.00,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.00,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.00,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.00,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.00,0,0,370376,7.7500,NaN,Q

In [44]:
titanic = pd.read_csv('E:/Titanic/train.csv')

In [45]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [46]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [48]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [50]:
categorical = titanic.select_dtypes(include=['object'])

In [51]:
categorical.head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [52]:
numerical = titanic.select_dtypes(exclude=['object'])

In [53]:
numerical.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [54]:
y=titanic.loc[: ,'Survived']

In [56]:
X=titanic.drop('Survived',axis=1)

In [57]:
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [58]:
model = lr.fit(X,y)

ValueError: could not convert string to float: 'Q'

In [59]:
model = lr.fit(numerical, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [60]:
numerical.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [62]:
numerical.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Fare             0
dtype: int64

In [64]:
numerical_wo_nans = numerical.dropna(axis=0,how='any')

In [65]:
numerical_wo_nans.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [66]:
numerical_wo_nans.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

In [67]:
numerical_wo_nans.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000
mean,448.582633,0.406162,2.236695,29.699118,0.512605,0.431373,34.694514
std,259.119524,0.491460,0.838250,14.526497,0.929783,0.853289,52.918930
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.250000,0.000000,1.000000,20.125000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.741700
75%,677.750000,1.000000,3.000000,38.000000,1.000000,1.000000,33.375000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

In [68]:
numerical_wo_nans.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [69]:
numerical_wo_nans.drop('PassengerId',axis=1)

     Survived  Pclass    Age  SibSp  Parch      Fare
0           0       3  22.00      1      0    7.2500
1           1       1  38.00      1      0   71.2833
2           1       3  26.00      0      0    7.9250
3           1       1  35.00      1      0   53.1000
4           0       3  35.00      0      0    8.0500
6           0       1  54.00      0      0   51.8625
7           0       3   2.00      3      1   21.0750
8           1       3  27.00      0      2   11.1333
9           1       2  14.00      1      0   30.0708
10          1       3   4.00      1      1   16.7000
11          1       1  58.00      0      0   26.5500
12          0       3  20.00      0      0    8.0500
13          0       3  39.00      1      5   31.2750
14          0       3  14.00      0      0    7.8542
15          1       2  55.00      0      0   16.0000
16          0       3   2.00      4      1   29.1250
18          0       3  31.00      1      0   18.0000
20          0       2  35.00      0      0   26.0000
21          1       2  34.00      0      0   13.0000
22          1       3  15.00      0      0    8.0292
23          1       1  28.00      0      0   35.5000
24          0       3   8.00      3      1   21.0750
25          1       3  38.00      1      5   31.3875
27          0       1  19.00      3      2  263.0000
30          0       1  40.00      0      0   27.7208
33          0       2  66.00      0      0   10.5000
34          0       1  28.00      1      0   82.1708
35          0       1  42.00      1      0   52.0000
37          0       3  21.00      0      0    8.0500
38          0       3  18.00      2      0   18.0000
39          1       3  14.00      1      0   11.2417
40          0       3  40.00      1      0    9.4750
41          0       2  27.00      1      0   21.0000
43          1       2   3.00      1      2   41.5792
44          1       3  19.00      0      0    7.8792
49          0       3  18.00      1      0   17.8000
50          0       3   7.00      4      1   39.6875
51          0       3  21.00      0      0    7.8000
52          1       1  49.00      1      0   76.7292
53          1       2  29.00      1      0   26.0000
54          0       1  65.00      0      1   61.9792
56          1       2  21.00      0      0   10.5000
57          0       3  28.50      0      0    7.2292
58          1       2   5.00      1      2   27.7500
59          0       3  11.00      5      2   46.9000
60          0       3  22.00      0      0    7.2292
61          1       1  38.00      0      0   80.0000
62          0       1  45.00      1      0   83.4750
63          0       3   4.00      3      2   27.9000
66          1       2  29.00      0      0   10.5000
67          0       3  19.00      0      0    8.1583
68          1       3  17.00      4      2    7.9250
69          0       3  26.00      2      0    8.6625
70          0       2  32.00      0      0   10.5000
71          0       3  16.00      5      2   46.9000
72          0       2  21.00      0      0   73.5000
73          0       3  26.00      1      0   14.4542
74          1       3  32.00      0      0   56.4958
75          0       3  25.00      0      0    7.6500
78          1       2   0.83      0      2   29.0000
79          1       3  30.00      0      0   12.4750
80          0       3  22.00      0      0    9.0000
81          1       3  29.00      0      0    9.5000
83          0       1  28.00      0      0   47.1000
84          1       2  17.00      0      0   10.5000
85          1       3  33.00      3      0   15.8500
86          0       3  16.00      1      3   34.3750
88          1       1  23.00      3      2  263.0000
89          0       3  24.00      0      0    8.0500
90          0       3  29.00      0      0    8.0500
91          0       3  20.00      0      0    7.8542
92          0       1  46.00      1      0   61.1750
93          0       3  26.00      1      2   20.5750
94          0       3  59.00      0      0    7.2500
96          0       1  71.00      0      0   34.6542
97          1       1  23.00      0      1   63.3583
98          1       2  34.00      0      1   23.0000
99          0       2  34.00      1      0   26.0000
100         0       3  28.00      0      0    7.8958
102         0       1  21.00      0      1   77.2875
103         0       3  33.00      0      0    8.6542
104         0       3  37.00      2      0    7.9250
105         0       3  28.00      0      0    7.8958
106         1       3  21.00      0      0    7.6500
108         0       3  38.00      0      0    7.8958
..        ...     ...    ...    ...    ...       ...
789         0       1  46.00      0      0   79.2000
791         0       2  16.00      0      0   26.0000
794         0       3  25.00      0      0    7.8958
795         0       2  39.00      0      0   13.0000
796         1       1  49.00      0      0   25.9292
797         1       3  31.00      0      0    8.6833
798         0       3  30.00      0      0    7.2292
799         0       3  30.00      1      1   24.1500
800         0       2  34.00      0      0   13.0000
801         1       2  31.00      1      1   26.2500
802         1       1  11.00      1      2  120.0000
803         1       3   0.42      0      1    8.5167
804         1       3  27.00      0      0    6.9750
805         0       3  31.00      0      0    7.7750
806         0       1  39.00      0      0    0.0000
807         0       3  18.00      0      0    7.7750
808         0       2  39.00      0      0   13.0000
809         1       1  33.00      1      0   53.1000
810         0       3  26.00      0      0    7.8875
811         0       3  39.00      0      0   24.1500
812         0       2  35.00      0      0   10.5000
813         0       3   6.00      4      2   31.2750
814         0       3  30.50      0      0    8.0500
816         0       3  23.00      0      0    7.9250
817         0       2  31.00      1      1   37.0042
818         0       3  43.00      0      0    6.4500
819         0       3  10.00      3      2   27.9000
820         1       1  52.00      1      1   93.5000
821         1       3  27.00      0      0    8.6625
822         0       1  38.00      0      0    0.0000
823         1       3  27.00      0      1   12.4750
824         0       3   2.00      4      1   39.6875
827         1       2   1.00      0      2   37.0042
829         1       1  62.00      0      0   80.0000
830         1       3  15.00      1      0   14.4542
831         1       2   0.83      1      1   18.7500
833         0       3  23.00      0      0    7.8542
834         0       3  18.00      0      0    8.3000
835         1       1  39.00      1      1   83.1583
836         0       3  21.00      0      0    8.6625
838         1       3  32.00      0      0   56.4958
840         0       3  20.00      0      0    7.9250
841         0       2  16.00      0      0   10.5000
842         1       1  30.00      0      0   31.0000
843         0       3  34.50      0      0    6.4375
844         0       3  17.00      0      0    8.6625
845         0       3  42.00      0      0    7.5500
847         0       3  35.00      0      0    7.8958
848         0       2  28.00      0      1   33.0000
850         0       3   4.00      4      2   31.2750
851         0       3  74.00      0      0    7.7750
852         0       3   9.00      1      1   15.2458
853         1       1  16.00      0      1   39.4000
854         0       2  44.00      1      0   26.0000
855         1       3  18.00      0      1    9.3500
856         1       1  45.00      1      1  164.8667
857         1       1  51.00      0      0   26.5500
858         1       3  24.00      0      3   19.2583
860         0       3  41.00      2      0   14.1083
861         0       2  21.00      1      0   11.5000
862         1       1  48.00      0      0   25.9292
864         0       2  24.00      0      0   13.0000
865         1       2  42.00      0      0   13.0000
866         1       2  27.00      1      0   13.8583
867         0       1  31.00      0      0   50.4958
869         1       3   4.00      1      1   11.1333
870         0       3  26.00      0      0    7.8958
871         1       1  47.00      1      1   52.5542
872         0       1  33.00      0      0    5.0000
873         0       3  47.00      0      0    9.0000
874         1       2  28.00      1      0   24.0000
875         1       3  15.00      0      0    7.2250
876         0       3  20.00      0      0    9.8458
877         0       3  19.00      0      0    7.8958
879         1       1  56.00      0      1   83.1583
880         1       2  25.00      0      1   26.0000
881         0       3  33.00      0      0    7.8958
882         0       3  22.00      0      0   10.5167
883         0       2  28.00      0      0   10.5000
884         0       3  25.00      0      0    7.0500
885         0       3  39.00      0      5   29.1250
886         0       2  27.00      0      0   13.0000
887         1       1  19.00      0      0   30.0000
889         1       1  26.00      0      0   30.0000
890         0       3  32.00      0      0    7.7500

[714 rows x 6 columns]

In [70]:
numerical_wo_nans.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

In [71]:
numerical_wo_nans.drop('PassengerId',axis=1,inplace=True)

C:\Users\pc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
numerical_wo_nans.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [73]:
model = lr.fit(numerical_wo_nans, y)

ValueError: Found input variables with inconsistent numbers of samples: [714, 891]

In [74]:
y=titanic.dropna(axis=0,how='any').loc[: ,'Survived']

In [75]:
model = lr.fit(numerical_wo_nans, y)

ValueError: Found input variables with inconsistent numbers of samples: [714, 183]

In [76]:
y=titanic.select_dtypes(exclude=['object']).dropna(axis=0,how='any').loc[: ,'Survived']

In [77]:
model = lr.fit(numerical_wo_nans, y)

In [78]:
pd.read_csv('E:\Titanic\test.csv')

FileNotFoundError: File b'E:\\Titanic\test.csv' does not exist

In [79]:
pd.read_csv('E:/Titanic/test.csv')

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.50,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.00,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.00,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.00,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.00,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.00,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.00,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance Toogood)",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.00,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.00,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.00,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.00,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.00,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.00,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.00,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.00,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.00,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.50,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
30,922,2,"Louch, Mr. Charles Alexander",male,50.00,1,0,SC/AH 3085,26.0000,NaN,S
31,923,2,"Jefferys, Mr. Clifford Thomas",male,24.00,2,0,C.A. 31029,31.5000,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
34,926,1,"Mock, Mr. Philipp Edmund",male,30.00,1,0,13236,57.7500,C78,C
35,927,3,"Katavelas, Mr. Vassilios (Catavelas Vassilios"")""",male,18.50,0,0,2682,7.2292,NaN,C
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S
37,929,3,"Cacic, Miss. Manda",female,21.00,0,0,315087,8.6625,NaN,S
38,930,3,"Sap, Mr. Julius",male,25.00,0,0,345768,9.5000,NaN,S
39,931,3,"Hee, Mr. Ling",male,NaN,0,0,1601,56.4958,NaN,S
40,932,3,"Karun, Mr. Franz",male,39.00,0,1,349256,13.4167,NaN,C
41,933,1,"Franklin, Mr. Thomas Parham",male,NaN,0,0,113778,26.5500,D34,S
42,934,3,"Goldsmith, Mr. Nathan",male,41.00,0,0,SOTON/O.Q. 3101263,7.8500,NaN,S
43,935,2,"Corbett, Mrs. Walter H (Irene Colvin)",female,30.00,0,0,237249,13.0000,NaN,S
44,936,1,"Kimball, Mrs. Edwin Nelson Jr (Gertrude Parsons)",female,45.00,1,0,11753,52.5542,D19,S
45,937,3,"Peltomaki, Mr. Nikolai Johannes",male,25.00,0,0,STON/O 2. 3101291,7.9250,NaN,S
46,938,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C
47,939,3,"Shaughnessy, Mr. Patrick",male,NaN,0,0,370374,7.7500,NaN,Q
48,940,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
50,942,1,"Smith, Mr. Lucien Philip",male,24.00,1,0,13695,60.0000,C31,S
51,943,2,"Pulbaum, Mr. Franz",male,27.00,0,0,SC/PARIS 2168,15.0333,NaN,C
52,944,2,"Hocking, Miss. Ellen Nellie""""",female,20.00,2,1,29105,23.0000,NaN,S
53,945,1,"Fortune, Miss. Ethel Flora",female,28.00,3,2,19950,263.0000,C23 C25 C27,S
54,946,2,"Mangiavacchi, Mr. Serafino Emilio",male,NaN,0,0,SC/A.3 2861,15.5792,NaN,C
55,947,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,NaN,Q
56,948,3,"Cor, Mr. Bartol",male,35.00,0,0,349230,7.8958,NaN,S
57,949,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00,0,0,348122,7.6500,F G63,S
58,950,3,"Davison, Mr. Thomas Henry",male,NaN,1,0,386525,16.1000,NaN,S
59,951,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C
60,952,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,NaN,S
61,953,2,"McCrae, Mr. Arthur Gordon",male,32.00,0,0,237216,13.5000,NaN,S
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.00,0,0,347090,7.7500,NaN,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.00,0,0,334914,7.7250,NaN,Q
64,956,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,B57 B59 B63 B66,C
65,957,2,"Corey, Mrs. Percy C (Mary Phyllis Elizabeth Miller)",female,NaN,0,0,F.C.C. 13534,21.0000,NaN,S
66,958,3,"Burns, Miss. Mary Delia",female,18.00,0,0,330963,7.8792,NaN,Q
67,959,1,"Moore, Mr. Clarence Bloomfield",male,47.00,0,0,113796,42.4000,NaN,S
68,960,1,"Tucker, Mr. Gilbert Milligan Jr",male,31.00,0,0,2543,28.5375,C53,C
69,961,1,"Fortune, Mrs. Mark (Mary McDougald)",female,60.00,1,4,19950,263.0000,C23 C25 C27,S
70,962,3,"Mulvihill, Miss. Bertha E",female,24.00,0,0,382653,7.7500,NaN,Q
71,963,3,"Minkoff, Mr. Lazar",male,21.00,0,0,349211,7.8958,NaN,S
72,964,3,"Nieminen, Miss. Manta Josefina",female,29.00,0,0,3101297,7.9250,NaN,S
73,965,1,"Ovies y Rodriguez, Mr. Servando",male,28.50,0,0,PC 17562,27.7208,D43,C
74,966,1,"Geiger, Miss. Amalie",female,35.00,0,0,113503,211.5000,C130,C
75,967,1,"Keeping, Mr. Edwin",male,32.50,0,0,113503,211.5000,C132,C
76,968,3,"Miles, Mr. Frank",male,NaN,0,0,359306,8.0500,NaN,S
77,969,1,"Cornell, Mrs. Robert Clifford (Malvina Helen Lamson)",female,55.00,2,0,11770,25.7000,C101,S
78,970,2,"Aldworth, Mr. Charles Augustus",male,30.00,0,0,248744,13.0000,NaN,S
79,971,3,"Doyle, Miss. Elizabeth",female,24.00,0,0,368702,7.7500,NaN,Q
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
81,973,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,C55 C57,S
82,974,1,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S
83,975,3,"Demetri, Mr. Marinko",male,NaN,0,0,349238,7.8958,NaN,S
84,976,2,"Lamb, Mr. John Joseph",male,NaN,0,0,240261,10.7083,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...
333,1225,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.00,1,1,2653,15.7417,NaN,C
334,1226,3,"Cor, Mr. Ivan",male,27.00,0,0,349229,7.8958,NaN,S
335,1227,1,"Maguire, Mr. John Edward",male,30.00,0,0,110469,26.0000,C106,S
336,1228,2,"de Brito, Mr. Jose Joaquim",male,32.00,0,0,244360,13.0000,NaN,S
337,1229,3,"Elias, Mr. Joseph",male,39.00,0,2,2675,7.2292,NaN,C
338,1230,2,"Denbury, Mr. Herbert",male,25.00,0,0,C.A. 31029,31.5000,NaN,S
339,1231,3,"Betros, Master. Seman",male,NaN,0,0,2622,7.2292,NaN,C
340,1232,2,"Fillbrook, Mr. Joseph Charles",male,18.00,0,0,C.A. 15185,10.5000,NaN,S
341,1233,3,"Lundstrom, Mr. Thure Edvin",male,32.00,0,0,350403,7.5792,NaN,S
342,1234,3,"Sage, Mr. John George",male,NaN,1,9,CA. 2343,69.5500,NaN,S
343,1235,1,"Cardeza, Mrs. James Warburton Martinez (Charlotte Wardle Drake)",female,58.00,0,1,PC 17755,512.3292,B51 B53 B55,C
344,1236,3,"van Billiard, Master. James William",male,NaN,1,1,A/5. 851,14.5000,NaN,S
345,1237,3,"Abelseth, Miss. Karen Marie",female,16.00,0,0,348125,7.6500,NaN,S
346,1238,2,"Botsford, Mr. William Hull",male,26.00,0,0,237670,13.0000,NaN,S
347,1239,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.00,0,0,2688,7.2292,NaN,C
348,1240,2,"Giles, Mr. Ralph",male,24.00,0,0,248726,13.5000,NaN,S
349,1241,2,"Walcroft, Miss. Nellie",female,31.00,0,0,F.C.C. 13528,21.0000,NaN,S
350,1242,1,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.00,0,1,PC 17759,63.3583,D10 D12,C
351,1243,2,"Stokes, Mr. Philip Joseph",male,25.00,0,0,F.C.C. 13540,10.5000,NaN,S
352,1244,2,"Dibden, Mr. William",male,18.00,0,0,S.O.C. 14879,73.5000,NaN,S
353,1245,2,"Herman, Mr. Samuel",male,49.00,1,2,220845,65.0000,NaN,S
354,1246,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,NaN,S
355,1247,1,"Julian, Mr. Henry Forbes",male,50.00,0,0,113044,26.0000,E60,S
356,1248,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.00,2,0,11769,51.4792,C101,S
357,1249,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
358,1250,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
359,1251,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Persson)",female,30.00,1,0,349910,15.5500,NaN,S
360,1252,3,"Sage, Master. William Henry",male,14.50,8,2,CA. 2343,69.5500,NaN,S
361,1253,2,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.00,1,1,S.C./PARIS 2079,37.0042,NaN,C
362,1254,2,"Ware, Mrs. John James (Florence Louise Long)",female,31.00,0,0,CA 31352,21.0000,NaN,S
363,1255,3,"Strilic, Mr. Ivan",male,27.00,0,0,315083,8.6625,NaN,S
364,1256,1,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.00,1,0,11765,55.4417,E50,C
365,1257,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,S
366,1258,3,"Caram, Mr. Joseph",male,NaN,1,0,2689,14.4583,NaN,C
367,1259,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.00,0,0,3101295,39.6875,NaN,S
368,1260,1,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.00,0,1,112378,59.4000,NaN,C
369,1261,2,"Pallas y Castello, Mr. Emilio",male,29.00,0,0,SC/PARIS 2147,13.8583,NaN,C
370,1262,2,"Giles, Mr. Edgar",male,21.00,1,0,28133,11.5000,NaN,S
371,1263,1,"Wilson, Miss. Helen Alice",female,31.00,0,0,16966,134.5000,E39 E41,C
372,1264,1,"Ismay, Mr. Joseph Bruce",male,49.00,0,0,112058,0.0000,B52 B54 B56,S
373,1265,2,"Harbeck, Mr. William H",male,44.00,0,0,248746,13.0000,NaN,S
374,1266,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.00,1,1,33638,81.8583,A34,S
375,1267,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C
376,1268,3,"Kink, Miss. Maria",female,22.00,2,0,315152,8.6625,NaN,S
377,1269,2,"Cotterill, Mr. Henry Harry""""",male,21.00,0,0,29107,11.5000,NaN,S
378,1270,1,"Hipkins, Mr. William Edward",male,55.00,0,0,680,50.0000,C39,S
379,1271,3,"Asplund, Master. Carl Edgar",male,5.00,4,2,347077,31.3875,NaN,S
380,1272,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
381,1273,3,"Foley, Mr. Joseph",male,26.00,0,0,330910,7.8792,NaN,Q
382,1274,3,"Risien, Mrs. Samuel (Emma)",female,NaN,0,0,364498,14.5000,NaN,S
383,1275,3,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.00,1,0,376566,16.1000,NaN,S
384,1276,2,"Wheeler, Mr. Edwin Frederick""""",male,NaN,0,0,SC/PARIS 2159,12.8750,NaN,S
385,1277,2,"Herman, Miss. Kate",female,24.00,1,2,220845,65.0000,NaN,S
386,1278,3,"Aronsson, Mr. Ernst Axel Algot",male,24.00,0,0,349911,7.7750,NaN,S
387,1279,2,"Ashby, Mr. John",male,57.00,0,0,244346,13.0000,NaN,S
388,1280,3,"Canavan, Mr. Patrick",male,21.00,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.00,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.00,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.00,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.00,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.00,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.00,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.00,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.00,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha Emerentia Stehli)",female,48.00,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.00,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.00,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.00,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.00,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.00,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.00,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.00,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.00,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.00,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.00,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [80]:
test=pd.read_csv('E:/Titanic/test.csv')

In [81]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [82]:
X_test = test.select_dtypes(exclude=['object']).dropna(axis=0,how='any')

In [83]:
numerical_test = test.select_dtypes(exclude=['object'])

In [91]:
numerical_test["Age"].average()

AttributeError: 'Series' object has no attribute 'average'

In [85]:
numerical_test.isnull().sum()

PassengerId     0
Pclass          0
Age            86
SibSp           0
Parch           0
Fare            1
dtype: int64

In [88]:
numerical_test["Age"].fillna(numerical_test["Age"].mean(), inplace=True)

C:\Users\pc\Anaconda3\lib\site-packages\pandas\core\generic.py:3660: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [89]:
numerical_test.isnull().sum()

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           1
dtype: int64